<div class="loop-article">
  <h2 class="area">
    <a class="area-description" href ="#" >
      <%= spot.place %>
    </a> 
  </h2>
  <div class="image-space">
    <a class="image-buttom" href="#">
      <%= image_tag spot.image, class: "top-image" %>
    </a>
  </div>
  <p class="sab-text">
    <a href="#" class="sab-text-class">
      <%= spot.one_word %>
    </a>
  </p>
</div>