<p>MyPage <%= @user.id %></p>
<div class="main">
  <div class="main-content">
     <div class="wide-content">
      <div class="loop">
         <%= render partial: "spots/spot", collection: @spots
      </div>
     </div>
  </div>
</div> 